<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- adds filter definitions -->
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.LocalPrimitiveLoopPatternFilter"></filter>
   </extension>

   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.LocalArrayLoopPatternFilter"></filter>
   </extension>

   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.LocalCollectionLoopPatternFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.FieldPrimitiveLoopPatternFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.FieldArrayLoopPatternFilter"></filter>
   </extension>

   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.FieldCollectionLoopPatternFilter"></filter>
   </extension>

   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.ParameterPrimitiveLoopPatternFilter"></filter>
   </extension>

   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.ParameterArrayLoopPatternFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.ParameterCollectionLoopPatternFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.CallsitePrimitiveLoopPatternFilter"></filter>
   </extension>

   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.CallsiteArrayLoopPatternFilter"></filter>
   </extension>

   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.CallsiteCollectionLoopPatternFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.LoopSubsystemInteractionFilter"></filter>
   </extension>

   <extension point="com.ensoftcorp.open.commons.subsystem">
      <subsystem class="com.ensoftcorp.open.loop.comprehension.subsystems.IteratorSubsystem"></subsystem>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.subsystem">
      <subsystem class="com.ensoftcorp.open.loop.comprehension.subsystems.CollectionSubsystem"></subsystem>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.IOFieldFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.IOLocalFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.IOParameterFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.APIFieldFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.APILocalFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.APIParameterFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.UnknownCallsiteFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.MonotonicityFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.DifferentialBranchFilter"></filter>
   </extension>
   
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.loop.comprehension.filters.ReachabilityFilter"></filter>
   </extension>

	<!-- adds the smart views -->
   <extension point="com.ensoftcorp.atlas.ui.smartViewScript">
	  <script
	  		class = "com.ensoftcorp.open.loop.comprehension.TDGSmartView">
	  </script>
	  <script
	  		class = "com.ensoftcorp.open.loop.comprehension.LPCGSmartView">
	  </script>
   </extension>

   <!-- adds the prioritized codemap stages -->
   <extension point="com.ensoftcorp.open.commons.codemap">
      <codemap class="com.ensoftcorp.open.loop.comprehension.taint.CallSiteOperatorTaintOverlayCodemapStage"></codemap>
   </extension>
   <extension point="com.ensoftcorp.open.commons.codemap">
      <codemap class="com.ensoftcorp.open.loop.comprehension.analysis.LoopCatalogCodemapStage"></codemap>
   </extension>

</plugin>
